body {
  font-family: sans-serif;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
}
tr,
td {
  border: 1px solid black;
  height: 60px;
  width: 60px;
  text-align: center;
  vertical-align: center;
  font-family: Helvetica;
  font-size: 30px;
}
